sample_flow.json
[{"id":"d7bc03682ff08f74","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69f2eb3df096328a","type":"inject","z":"d7bc03682ff08f74","name":"TimeStamp","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":120,"wires":[["b21ea954adc194c2"]]},{"id":"6d941cd7f661bbc9","type":"debug","z":"d7bc03682ff08f74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":180,"wires":[]},{"id":"96728ecbe7753002","type":"DID-Create","z":"d7bc03682ff08f74","name":"","x":330,"y":180,"wires":[["2a6feb19f614df3c"]]},{"id":"2a6feb19f614df3c","type":"DID-Verify","z":"d7bc03682ff08f74","name":"DID-Resolver","x":740,"y":180,"wires":[["6d941cd7f661bbc9"]]},{"id":"b21ea954adc194c2","type":"function","z":"d7bc03682ff08f74","name":"Sample Data","func":"msg.payload = {\n    timestamp:new Date().getTime(),\n    hello:'World!'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":180,"wires":[["96728ecbe7753002"]]},{"id":"a564dcfba316c11a","type":"comment","z":"d7bc03682ff08f74","name":"DID-JWT available ","info":"","x":530,"y":160,"wires":[]}]
